/* src/index.css */
@import "tailwindcss";

@theme {
  --spacing-120: 30rem; /* w-120 = 480px */
  --spacing-180: 45rem; /* h-180 = 720px */
}

body {
  margin: 0;
  padding: 0;
  background-color: #0B0C10;
  color: #ffffff;
  overflow: hidden;
}